{% if field.value == 1 %}
<span class="badge text-bg-lignt">En attente de paiment</span>
{% elseif field.value == 2 %}
<span class="badge badge-primary text-bg-primary">Commande payée</span>
{% elseif field.value == 3 %}
<span class="badge badge-primary text-bg-primary">Expédiée</span>
{% endif %}