{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<main>
    <div class="container my-5">
        <h1>INSCRIPTION ✅</h1>
        {{ form(registerForm) }}
    </div>
</main>

{% endblock %}
